.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 15px 5px 5px;
    background: rgb(0, 0, 0, .8);
    position: sticky;
    top: 0;
    z-index: 999;
}

.Navbar__logo {
    max-height: 50px;
}

.Navbar__user {
    max-height: 40px;
}