.search-page {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(255, 255, 255, .8);
    color: blue;
}

#search-title {
    display: flex;
    color: white;
    flex-flow: column;
    align-self: stretch;
    padding: 10px;
    margin: 0px;
    background-color: #04213bff;
}

#search-title div {
    align-self: start;
    padding: 1vh;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.col-1 {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 15px;
    justify-content: center;
    /* align-items: center; */
}

.col-2 {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 15px;
    justify-content: center;
    /* align-items: center; */
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}

FormHelperText {
    justify-self: center;
}

#interface {
    border-left: 2px solid #04213bff;
}

.requested-ride {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: blue;
}

.form>label,
select,
input {
    margin: 15px;
    width: 100%;
}