.search-page {
    height: 92vh;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
}

#search-title {
    display: flex;
    color: white;
    flex-flow: column;
    align-self: stretch;
    padding: 10px;
    margin: 0px;
    font-weight: 300;
    background-color: #04213bff;
}

#search-title div {
    align-self: start;
    padding: 1vh;
}

.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.body * {
    margin: 15;
    width: '100%';
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    height: 78vh;
    padding: 20px;
    overflow-y: auto;
}

.list-container__title {
    display: flex;
    justify-content: center;
    color: darkblue;
    font-weight: 500;
}


.ride-entry {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 0px 20px;
    color: 'black';
}

.ride-entry:hover {
    background-color: #DDD;
}

.ride-entry__ride-name {
    display: flex;
    justify-content: space-between;
    color: #000;
}

.ride-entry__ride-location {
    display: flex;
    justify-content: flex-start;
    width: inherit;
    font-style: italic;
    color: #888;
    font-size: small;
}
 
form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}

FormHelperText {
    justify-self: center;
}

.requested-ride {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: blue;
}

.form>label,
select,
input {
    margin: 15px;
    width: 100%;
}