.search-page {
    height: 92vh;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
}

#search-title {
    display: flex;
    color: white;
    flex-flow: column;
    align-self: stretch;
    padding: 10px;
    margin: 0px;
    font-weight: 300;
    background-color: #04213bff;
}

#search-title div {
    align-self: start;
    padding: 1vh;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body * {
    margin: 15;
    width: '100%';
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 275px;
    border-right-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    height: 1000px;
}

.ride-entry {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: 'black';
    background-color: green;
}

.ride-entry__ride-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}

FormHelperText {
    justify-self: center;
}



.requested-ride {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: blue;
}

.form>label,
select,
input {
    margin: 15px;
    width: 100%;
}