.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.title {
    display: flex;
    align-items: baseline;
    position: absolute;
    transition-duration: .5s;
}

.title__large {
    max-width: 60vw;
}

.title__subtitle {
    font-size: 2.5vw;
}

.button {
    transition-duration: .5s;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    position: absolute;
    top: 55vh;
}

.login-panel {
    height: 40vh;
    min-width: 300px;
    background-color: white;
    transition-duration: .5s;
    position: absolute;
    top: 40vh;
}