div {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

.app {
  text-align: center;
  background-image: url('../res/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.app__page {
  height: 95vh;
  color: white;
}

.footer {
  background-color: black;
  padding: 20px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer__icon {
  justify-self: center;
  height: 100px;
  margin-top: -5px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: right;
}