.app {
  text-align: center;
  background-image: url('../res/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.app__page {
  height: 95vh;
  color: white;
}

div {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

