.main-page {
    height: auto;
}

.header {
    background-color: #04213bff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vh;
}

.title__id {
    font-weight: 100;
}

.title__location {
    font-weight: 500;
    font-size: x-large;
}


.title__name {

}

.title__location {

}

.body {
    display: flex;
    height: auto;
}

@media(max-width: 768px) {
    .body {
        flex-direction: column;
    }
}