.start-page {   

}

.start-page__action-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
}
 
.action-panel__title {
    display: flex;
    align-items: baseline;
    position: absolute;
    transition-duration: .5s;
}

.title__large {
    max-width: 60vw;
}

.title__subtitle {
    font-size: 2.5vw;
}

.button {
    transition-duration: .5s;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    position: absolute;
    top: 55vh;
}

.login-panel {
    height: 40vh;
    min-width: 300px;
    background-color: white;
    transition-duration: .5s;
    position: absolute;
    top: 40vh;
}


.start-page__info-panel {
    display: flex;
    align-items: stretch;
    height: auto;
    background-image: url("../res/videobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -4px;
}

.info-panel__description {
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);

    padding: 30px;
}

.info-panel__video {
    width: 100%;

    background-color: rgba(0, 0, 0, .8);
}

.video {
    height: 360px;
    width: 640px;
}

@media(max-width: 768px) {
    .start-page__info-panel {
        flex-direction: column;
    }

    .video {
        width: 100vw;
        height: auto;
    }
}